 body {
   margin: 0;
   text-align: center;
 }

 h1 {
   font-size: 1.9rem;
 }

 h3 {
   font-family: 'Red Rose', cursive;
 }

 section#title {
   background-color: #13333a;
   color: #ffff;
 }

 /* Nav Bar section  */
 .navbar-expand-lg {
   left: 2%;
 }

 .navbar-brand:hover {
   color: #ffff;
 }

 .navbar-light .navbar-toggler {
   color: #ffff;
   border-color: #ffff;
 }
.navbar-light .navbar-toggler-icon{
  border-color: #ffff;
}
 .btn-outline-light:hover {
   background-color: #13333a;
 }

 .navbar-nav {
   margin-top: 0;
   left: 5%;
 }

 .nav-item {
   margin-left: 20px;
   margin-right: 20px;
 }

 .nav-link {
   color: white;
 }

 .title-image {
   width: 110%;
   padding-right: 10%;
 }

 .info-header {
   text-align: left;
   padding: 15% 5%;
   margin: 0;
   font-family: 'Red Rose', cursive;
 }

 .info-header-image {
   padding-top: 5%;
 }

 .selector-for-some-widget {
   box-sizing: content-box;
 }

 .container-fluid {
   padding: 5% 10%;
 }

 .navbar-light .navbar-brand {
   color: #ffff;
 }

 .navbar-light .navbar-toggler-icon {
   border-color: #ffff;
 }

 /* Who we are section */
 #who-we-are {
   padding: 10% 7%;
 }

 .info-who-we-are {
   text-align: left;
   padding: 5%;
   padding-left: 10%;
   padding-right10%;
   font-family: 'Dosis', sans-serif;
 }

 /* What we do section  */
 #what-we-do {
   padding: 10% 7%;
   text-align: left;
   background-color: #dadee5;
   font-family: 'Dosis', sans-serif;
 }

 .what-we-do-header {
   padding-bottom: 5%;
 }

 /* footes section  */
 #contact-us {
   padding: 5%;
   color: #ffff;
   background-color: #28535b;
 }

 .social-media {
   color: #ffff;
   padding: 10px;
   font-size: 0.7rem;
 }
